<section class="section-3 testimonials">
  <div class="container">
    <h1 class="title">See what people are saying</h1>
    <div class="splide" id="splide-2">
      <div class="splide__track">
        <div class="splide__list">
          {{ range where .Site.RegularPages "Section" "testimonials" }}
          <div class="splide__slide card-wrapper testimonial">
  
            <div class="card">
              <div class="avatar">
                <img src="{{ .Params.avatar }}" alt="{{ .Params.name }}">
              </div>
      
              <div class="name">
                {{ .Params.name }}
              </div>
    
              <i class="fas fa-quote-left"></i>
      
              <div class="testimony">
                {{ .Content }}
              </div>
            </div>
          
          </div>
          {{ end }}
          <div class="splide__arrows">
            <button class="splide__arrow splide__arrow--prev">
            </button>
            <button class="splide__arrow splide__arrow--next">
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>