<section class="section-1">
  <!-- <div class="content splide" id="splide">
    <div class="splide__track">
      <div class="splide__list">
        {{ range where .Site.RegularPages "Section" "home-slideshows" }}
          <a class="splide__slide" href="{{ .Params.link }}">
            <img src="{{ .Params.image }}" alt="">
          </a>
        {{ end }}
      </div>
    </div>
  </div> -->
  <div class="content-2">
    <div class="left-section">
      <h1>Welcome to Our Store!</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem architecto et temporibus assumenda illo veniam! Beatae dolores blanditiis laudantium, vero tempora doloremque harum alias aliquid amet quos sapiente iste fugiat.</p>
      <a href="/products" class="btn btn-primary">
        Shop Now!
      </a>
    </div>
    <div class="right-section">
      <img src="/images/homepage-content-01.svg" alt="">
    </div>
  </div>
</section>