<a class="card" href="{{ .RelPermalink }}">
  <div class="featured-image">
    {{ range first 2 .Params.productImages }}
      <img src='{{ . }}' alt="" loading="lazy">
    {{ end }}
  </div>
  <div class="other-details">
    <div class="price-and-title">
      <div class="title">
        <h1> {{ .Params.title }} </h1>
      </div>
      <div class="prices">
        <div class="original-price {{ if gt .Params.discountedPrice 0 }} discounted {{ end }}"> Rp. {{ lang.NumFmt 0 .Params.originalPrice "- , ." }} </div>
        {{ if gt .Params.discountedPrice 0 }}
          <div class="discounted-price"> Rp. {{ lang.NumFmt 0 .Params.discountedPrice "- , ." }} </div>
        {{ end }}
      </div>
    </div>
    <!-- <div class="store-links">
      <a class="link tokopedia" href="{{ .Params.tokpedURL }}"> 
        <img src="/images/3rdparty-logos/logoicon-tokopedia.png" alt="">
      </a>
      <a class="link shopee" href="{{ .Params.shopeeURL }}"> 
        <img src="/images/3rdparty-logos/logoicon-shopee.png" alt="">
      </a>
      <a class="link bukalapak" href="{{ .Params.bukalapakURL }}"> 
        <img src="/images/3rdparty-logos/logoicon-bukalapak.png" alt="">
      </a>
      <a class="link olx" href="{{ .Params.olxURL }}"> 
        <img src="/images/3rdparty-logos/logoicon-olx.png" alt="">
      </a>
    </div> -->
  </div>
  <!-- <div class="btn btn-primary" href="{{ .RelPermalink }}">
    <div>View Product <i class="fas fa-chevron-right"></i></div>
  </div> -->
</a>