$fontTitle: 'Montserrat', Helvetica, sans-serif;
$fontBody: 'Roboto', Helvetica, sans-serif;
$fontMainColor: #4f5464;
$fontTitleColor: #172940;
$fontHugeSize: 2.8rem;
$fontBigSize: 1.7rem;
$fontBiggerSize: 1.3rem;
$fontNormalSize: 1rem;
$fontSmallerSize: 0.9rem;
$fontSmallSize: 0.7rem;
$boxShadow: 0 2px 40px 0 rgba(23,41,64,.02), 0 5px 10px 0 rgba(23,41,64,.04);
$boxShadowButton: 0 2px 40px 0 rgba(23,41,64,.1), 0 5px 10px 0 rgba(23,41,64,.2);
$boxShadowCard: 1px 1px 1px 1px rgba(0, 0, 0, 1), 1px 1px 1px 1px rgba(0, 0, 0, 1);
$borderRadiusCard: 4px;
$discountedColor: red;
$dividerColor: rgba(0,0,0,0.15);

body {
  img {
    max-width: 100%;
  }
  font-size: $fontNormalSize;
  line-height: 1.7;
  font-family: $fontBody;
  color: $fontMainColor;
  -webkit-font-smoothing: antialiased;
  // background-color: rgba(228, 247, 255, 0.2);
  background-color: #f6f6f6;
}

footer {
  color: white;
  background-color: $fontTitleColor;
  padding: 60px 0;
}

.navbar {
  padding: 20px 0;
  box-shadow: $boxShadow;
  z-index: 3;
  background-color: white;
  .navbar-brand {
    width: 50px;
  }
  .navbar-nav {
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    .nav-item {
      margin: 0 10px;
      &:last-of-type {
        margin-right: 0;
      }
      .nav-link {
        font-weight: 300;
        color: $fontTitleColor;
        font-size: $fontSmallerSize;
        letter-spacing: 1.2px;
        text-transform: uppercase;
      }
    }
  }
}

.list-page, .single-page {
  padding: 100px 0;
}

.card-wrapper {
  padding-bottom: 25px;
  &.blog {
    .card {
      .featured-image {
        height: 200px;
        margin-bottom: 20px;
        padding: 0;
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          object-position: center;
          border-top-left-radius: $borderRadiusCard;
          border-top-right-radius: $borderRadiusCard;
        }
      }
      .title {
        font-size: $fontBiggerSize;
        font-family: $fontTitle;
        color: $fontTitleColor;
        letter-spacing: -0.4px;
        font-weight: 800;
        margin-bottom: 5px;
      }
      .paragraph {
        font-size: $fontSmallerSize;
        font-weight: 300;
        color: $fontMainColor;
      }
      .tags {
        font-size: $fontSmallSize;
        justify-content: flex-end;
        margin-bottom: 15px;
        color: $fontMainColor;
      }
      .btn {
        background-color: transparent;
        color: $fontTitleColor;
        box-shadow: none;
        position: relative;
        font-size: $fontSmallSize;
        padding-top: 15px;
        padding-bottom: 15px;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        text-align: left;
        div {
          i {
            margin-left: 12px;
          }
        }
        // &:before {
        //   content: '';
        //   position: absolute;
        //   top: 10px;
        //   transform: translateX(-50%);
        //   left: 50%;
        //   height: 3px;
        //   width: 30px;
        //   border-radius: 50px;
        //   background-color: rgba(0, 0, 0, 0.1);
        // }
      }
    }
  }
  &.product {
    .card {
      &:hover {
        .featured-image {
          img {
            &:nth-child(2) {
              opacity: 1;
              transition: all 0.3s;
            }
          }
        }
      }
      .featured-image {
        width: 100%;
        padding-top: 100%;
        border-bottom: 1px solid rgba(0,0,0,0.1);
        position: relative;
        img {
          &:nth-child(2) {
            opacity: 0;
            transition: all 0.3s;
          }
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-top-left-radius: $borderRadiusCard;
          border-top-right-radius: $borderRadiusCard;
        }
      }
      .other-details {
        padding: 20px;
        .price-and-title {
          display: flex;
          flex: 1;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          text-align: center;
          .title {
            position: relative;
            padding-bottom: 3px;
            margin-bottom: 3px;
            &:before {
              position: absolute;
              bottom: 0;
              left: 50%;
              content: '';
              background-color:$dividerColor;
              transform: translateX(-50%);
              height: 3px;
              width: 20px;
            }
            h3 {
              font-size: $fontSmallerSize;
              font-family: $fontTitle;
              font-weight: 300;
              color: $fontTitleColor;
            }
          }
          .prices {
            .original-price, .discounted-price {
              color: $fontMainColor;
              font-weight: 800;
              font-size: $fontNormalSize;
            }
            .original-price {
              &.discounted {
                text-decoration: line-through;
              }
            }
            .discounted-price {
              color: white;
              padding: 2.5px 10px;
              border-radius: 3px;
              background-color: $discountedColor;
            }
          }
        }
      }
    }
  }
}

.card {
  height: 100%;
  border-radius: $borderRadiusCard;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: $fontMainColor;
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: column;
  flex: 1;
  flex-wrap: wrap;
  transition: all .3s;
  font-style: unset;
  text-decoration: unset;
  >div {
    padding: 0 20px;
  }
  &:hover {
    transition: all .3s;
    transform: scale(1.02);
  }
}

.tags {
  margin-top: auto;
  justify-self: flex-end;
  font-size: $fontSmallSize;
  display: flex;
  flex: 1;
  flex-direction: row;
  .tag {
    margin:3px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    padding: 3px 7px;
    border-radius: 3px;
    text-decoration: none;
    color: $fontMainColor;
  }
}

.btn {
  font-family: $fontTitle;
  font-size: $fontNormalSize;
  padding: 10px 20px;
  font-weight: 500;
  border-radius: 3px;
  letter-spacing: 1.05px;
  box-shadow: $boxShadowButton;
  border: 0px solid;
  &.with-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    i {
      margin-right: 8px;
    }
    img {
      width: 20px;
      height: 20px;
      margin-right: 8px;
    }
  }
  &.whatsapp {
    background-color: rgb(19, 226, 122);
  }
}

h1.title {
  font-size: $fontHugeSize;
  opacity: 0.1;
  font-family: $fontTitle;
  font-weight: 900;
  margin-bottom: 50px;
}

section {
  padding: 100px 0;
  &.products {
    padding: 0;
    margin-top: -160px;
  }
}

#landing-area {
  padding: 0;
  .content-2 {
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    display: flex;
    flex: 1;
    flex-direction: row;
    padding: 100px 0 270px;
    position: relative;
    align-items: center;
    &::before {
      top: 0;
      left: 0;
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.8);
      z-index: 0;
    }
    >div {
      width: 50%;
      z-index: 1;
    }
    .left-section {
      padding: 60px 80px 0 320px;
      h1 {
        font-size: $fontHugeSize;
        font-family: $fontTitle;
        font-weight: 900;
      }
      p {
        font-weight: 300;
        margin-bottom: 30px;
      }
    }
  }
}

.single-page {
  &.blogpost {
    h1.title, .content .paragraph, .date-and-author, .content .tags, .disqus-comments, .latest-news, .sub-title {
      padding: 0 150px;
    }
    .date-and-author, .content .featured-image, .content .paragraph, .content .tags, .disqus-comments {
      margin-bottom: 30px;
    }
    .sub-title {
      font-family: $fontTitle;
      font-weight: 800;
    }
    .latest-news {
      margin-top: 30px;
    }
    .content {
      font-size: $fontBiggerSize;
      .tags {
        font-size: $fontNormalSize;
      }
    }
    h1.title {
      margin-bottom: 10px;
      color: $fontTitleColor;
      opacity: 1;
    }
    .featured-image {
      width: 100%;
      img {
        width: 100%;
      }
    }
    .date-and-author {
      font-size: $fontNormalSize;
      display: flex;
      flex-direction: row;
      align-items: center;
      .date, .author {
        font-style: italic;
      }
      i {
        font-size: 5px;
        margin: 0 10px;
      }
    }
  }
  &.product {
    .other-details {
      .title {
        font-family: $fontTitle;
        font-weight: 300;
        font-size: $fontBigSize;
      }
      .original-price, .discounted-price {
        font-size: $fontBiggerSize;
        font-weight: 700;
        &.discounted {
          text-decoration: line-through;
        }
      }
      .discounted-price {
        color: $discountedColor;
      }
      .description, .cart-quantity, .buy-and-cart {
        margin-bottom: 30px;
      }
      .buy-and-cart {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .cart-quantity {
          display: flex;
          flex-direction: row;
          align-items: center;
          width: 100%;
          button {
            margin:0 10px;
          }
        }
        >.btn {
          margin: 0 3px; 
        }
      }
      .store-links {
        display: flex;
        flex-direction: row;
        .link {
          background-color: transparent;
          border: 1px solid rgba(0, 0, 0, 0.1);
          margin: 0 3px;
          margin-bottom: 3px;
          color: $fontTitleColor;
        }
      }
    }
  }
}