$fontTitle: 'Montserrat', Helvetica, sans-serif;
$fontBody: 'Merriweather', serif;
$fontMainColor: #4f5464;
$fontTitleColor: #172940;
$fontHugeSize: 2.8rem;
$fontBigSize: 1.7rem;
$fontBiggerSize: 1.3rem;
$fontNormalSize: 1rem;
$fontSmallerSize: 0.9rem;
$fontSmallSize: 0.7rem;
$boxShadow: 0 2px 40px 0 rgba(23,41,64,.02), 0 5px 10px 0 rgba(23,41,64,.04);
$boxShadowButton: 0 2px 40px 0 rgba(23,41,64,.1), 0 5px 10px 0 rgba(23,41,64,.2);
$boxShadowCard: 1px 1px 1px 1px rgba(0, 0, 0, 1), 1px 1px 1px 1px rgba(0, 0, 0, 1);
$borderRadiusCard: 4px;
$discountedColor: red;
$dividerColor: rgba(0,0,0,0.15);
$whatsappColor: linear-gradient( 135deg, #28C76F 20%, #81FBB8 100%);;
$successNotifColor: lightseagreen;
$errorNotifColor: red;
$navbarHeight: 85px;

body {
  img {
    max-width: 100%;
  }
  font-size: $fontNormalSize;
  line-height: 1.7;
  font-family: $fontBody;
  color: $fontMainColor;
  -webkit-font-smoothing: antialiased;
  // background-color: rgba(228, 247, 255, 0.2);
  background-color: #fff;
}

a {
  text-decoration: none;
  * {
    text-decoration: none;
  }
}


/* Hide scrollbar for IE, Edge and Firefox */
* {
  &::-webkit-scrollbar {
    display: none;
  } 
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.dropdown-menu {
  padding: 0;
  min-width: unset;
  width: 500px;
  left: unset;
  right: 0;
}

.dropdown {
  margin-left: 10px;
  cursor: pointer;
  .dropdown-toggle {
    position: relative;
    &::after {
      display: none;
    }
    .cart-badge {
      position: absolute;
      right: -8px;
      top: -5px;
      height: 18px;
      width: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 30px;
    }
  }
}

footer {
  color: white;
  background-color: $fontTitleColor;
  padding: 60px 0;
}

div#notification {
  position: fixed;
  top: 30px;
  left: 0;
  margin: 0 auto;
  z-index: 4;
  text-align: center;
  width: 100%;
  &.success {
    .text {
      background-color: $successNotifColor;
    }
  }
  &.error {
    .text {
      background-color: $errorNotifColor;
    }
  }
  .text {
    padding: 15px 40px;
    font-family: $fontTitle;
    color: white;
    box-shadow: $boxShadowButton;
    border-radius: $borderRadiusCard;
    display: inline;
  }
}

.navbar {
  padding: 20px 0;
  box-shadow: $boxShadow;
  z-index: 3;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  .navbar-toggler {
    &:focus {
      text-decoration: none;
      outline: 0;
      box-shadow: 0 0 0 0rem;
    }
  }
  .container {
    .nav-container-item {
      &:nth-child(1) {
        // logo
        order: 1;
      }
      &:nth-child(2) {
        // cart and search
        order: 4;
      }
      &:nth-child(3) {
        // burger button
        order: 3;
      }
      &:nth-child(4) {
        // list menu
        order: 2;
      }
    }
  }
  .navbar-toggler {
    padding: 0;
  }
  .navbar-brand {
    width: 50px;
  }
  .navbar-nav {
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    .nav-item {
      &:last-of-type {
        margin-right: 0;
      }
      &.active {
        opacity: 1;
        .nav-link {
          font-weight: 900;
          position: relative;
          color: $fontMainColor;
          font-weight: 500;
          position: relative;
          color: #fff;
          background-color: $fontMainColor;
          border-radius: 2.5px;
          // &::before {
          //   content: ' ';
          //   position: absolute;
          //   bottom: 0;
          //   left: 0;
          //   height: 2px;
          //   background: $fontMainColor;
          //   width: 100%;
          // }
        }
      }
      .nav-link {
        font-weight: 300;
        padding: 3px 12px;
        color: $fontTitleColor;
        font-size: $fontSmallerSize;
        letter-spacing: 1.2px;
        margin: 0 3px;
        // text-transform: uppercase;
      }
    }
  }
}

.cart-and-search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-left: 2px solid;
  >div {
    margin: 0 10px;
    &:last-of-type {
      margin-right: 0;
    }
    &:first-of-type {
      margin-left: 15px;
    }
  }
}

.empty {
  padding: 100px;
  text-align: center;
}

.list-page, .single-page {
  padding: 145px 0 100px;
}

.card-wrapper {
  padding-bottom: 25px;
  &.blog {
    .card {
      .featured-image {
        height: 200px;
        width: 100%;
        margin-bottom: 20px;
        padding: 0;
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          object-position: center;
          border-top-left-radius: $borderRadiusCard;
          border-top-right-radius: $borderRadiusCard;
        }
      }
      .title {
        font-size: $fontBiggerSize;
        font-family: $fontTitle;
        color: $fontTitleColor;
        letter-spacing: -0.4px;
        font-weight: 800;
        margin-bottom: 5px;
      }
      .paragraph {
        font-size: $fontSmallerSize;
        font-weight: 300;
        color: $fontMainColor;
      }
      .tags {
        font-size: $fontSmallSize;
        justify-content: flex-end;
        margin-bottom: 15px;
        color: $fontMainColor;
        flex: 0 auto;
      }
      .btn {
        background: transparent;
        color: $fontTitleColor;
        box-shadow: none;
        position: relative;
        font-size: $fontSmallSize;
        padding-top: 15px;
        padding-bottom: 15px;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        text-align: left;
        div {
          i {
            margin-left: 12px;
          }
        }
        // &:before {
        //   content: '';
        //   position: absolute;
        //   top: 10px;
        //   transform: translateX(-50%);
        //   left: 50%;
        //   height: 3px;
        //   width: 30px;
        //   border-radius: 50px;
        //   background-color: rgba(0, 0, 0, 0.1);
        // }
      }
    }
  }
  &.product {
    .card {
      &:hover {
        .featured-image {
          img {
            &:nth-child(2) {
              opacity: 1;
              transition: all 0.3s;
            }
          }
        }
      }
      .featured-image {
        width: 100%;
        padding-top: 100%;
        border-bottom: 1px solid rgba(0,0,0,0.1);
        position: relative;
        img {
          &:nth-child(2) {
            opacity: 0;
            transition: all 0.3s;
          }
          background-color: #444;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-top-left-radius: $borderRadiusCard;
          border-top-right-radius: $borderRadiusCard;
        }
      }
      .other-details {
        padding: 20px;
        margin: auto 0;
        .price-and-title {
          display: flex;
          flex: 1;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          text-align: center;
          .title {
            position: relative;
            padding-bottom: 3px;
            margin-bottom: 3px;
            &:before {
              position: absolute;
              bottom: 0;
              left: 50%;
              content: '';
              background-color:$dividerColor;
              transform: translateX(-50%);
              height: 3px;
              width: 20px;
            }
            h1 {
              font-size: $fontSmallerSize;
              font-family: $fontTitle;
              font-weight: 300;
              color: $fontTitleColor;
            }
          }
          .prices {
            .original-price, .discounted-price {
              color: $fontMainColor;
              font-weight: 800;
              font-size: $fontNormalSize;
            }
            .original-price {
              &.discounted {
                text-decoration: line-through;
              }
            }
            .discounted-price {
              color: white;
              padding: 2.5px 10px;
              border-radius: 3px;
              background-color: $discountedColor;
            }
          }
        }
      }
    }
  }
  &.testimonial {
    padding: 0 10px;
    opacity: 0.3;
    &.is-visible {
      opacity: 1;
    }
    .card {
      background-color: rgba(255, 255, 255, 1);
      cursor: pointer;
      text-align: center;
      padding-bottom: 30px;
      border-radius: 0;
      border: 0px solid;
      .avatar {
        padding: 40px;
        text-align: center;
        img {
          width: 100%;
          height: 100px;
          width: 100px;
          object-fit: cover;
          object-position: top;
          border-radius: 100%;
        }
      }
      .name, .fas, .testimony {
        padding: 0 80px;
      }
      .name {
        font-size: $fontBiggerSize;
        font-family: $fontTitle;
        font-weight: 800;
        margin-bottom: 5px;
      }
      .fas {
        margin-bottom: 5px;
        font-size: $fontBiggerSize;
        opacity: 0.1;
      }
      .testimony {
        font-weight: 300;
      }
    }
  }
}

.card {
  height: 100%;
  border-radius: $borderRadiusCard;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: $fontMainColor;
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: column;
  flex: 1;
  flex-wrap: wrap;
  transition: all .3s;
  font-style: unset;
  text-decoration: unset;
  >div {
    padding: 0 20px;
  }
  &:hover {
    transition: all .3s;
    transform: scale(1.02);
  }
}

.tags {
  margin-top: auto;
  justify-self: flex-end;
  font-size: $fontSmallSize;
  display: flex;
  flex: 1;
  flex-direction: row;
  .tag {
    margin:3px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    padding: 3px 7px;
    border-radius: 3px;
    text-decoration: none;
    color: $fontMainColor;
  }
}

.btn {
  font-family: $fontTitle;
  font-size: $fontNormalSize;
  padding: 10px 20px;
  font-weight: 500;
  border-radius: 3px;
  letter-spacing: 1.05px;
  box-shadow: $boxShadowButton;
  border: 0px solid;
  transition: all .3s;
  &.with-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    i {
      margin-right: 8px;
    }
    img {
      width: 20px;
      height: 20px;
      margin-right: 8px;
    }
  }
  &.btn-primary {
    background-image: linear-gradient( 135deg, #3C8CE7 10%, #00EAFF 100%);
  }
  &.btn-secondary {
    background-image: linear-gradient( 135deg, #FEB692 10%, #EA5455 100%);
  }
  &.whatsapp {
    background: $whatsappColor;
  }
  &:hover {
    // opacity: 0.5;
    transform: scale(1.02);
    transition: all .3s;
  }
}

h1.title {
  font-size: $fontHugeSize;
  opacity: 0.2;
  font-family: $fontTitle;
  font-weight: 900;
  margin-bottom: 50px;
}

h1.sub-title {
  font-size: $fontBiggerSize;
  opacity: 0.8;
  font-family: $fontTitle;
  font-weight: 900;
  margin-bottom: 20px;
  text-decoration: underline;
  width: 100%;
}

section {
  padding: 100px 0;
  &.products {
    padding-top: 0;
    margin-top: -160px;
  }
  &.testimonials {
    // background: #000428;  /* fallback for old browsers */
    background-color: $fontTitleColor;
    position: relative;
    h1.title {
      text-align: right;
      color: rgba(255, 255, 255, 0.8);
    }
    &:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(255,255,255,0.7);
    }
    .container {
      max-width: 95%;
    }
    .splide__pagination {
      display: none;
    }
  }
}

#landing-area {
  padding: 0;
  margin-top: 85px;
  .content-2 {
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    display: flex;
    flex: 1;
    flex-direction: row;
    padding: 100px 0 270px;
    position: relative;
    align-items: center;
    &::before {
      top: 0;
      left: 0;
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.8);
      z-index: 0;
    }
    >div {
      width: 50%;
      z-index: 1;
    }
    .left-section {
      padding: 60px 80px 0 0px;
      margin-left: auto;
      width: 650px;
      h1 {
        font-size: $fontHugeSize;
        font-family: $fontTitle;
        font-weight: 900;
      }
      p {
        font-weight: 300;
        margin-bottom: 30px;
      }
    }
    .right-section {
      img {
        height: auto;
        width: 100%;
      }
    }
  }
}

.single-page {
  font-size: $fontBiggerSize;
  p {
    margin-bottom: 2rem;
  }
  .content, .description {
    font-weight: 300;
  }
  &.blogpost {
    h1.title, .content .paragraph, .date-and-author, .content .tags, .disqus-comments, .latest-news, .sub-title {
      padding: 0 150px;
    }
    .date-and-author, .content .featured-image, .content .paragraph, .content .tags, .disqus-comments {
      margin-bottom: 30px;
    }
    .sub-title {
      font-family: $fontTitle;
      font-weight: 800;
    }
    .latest-news {
      margin-top: 30px;
    }
    .content {
      font-size: $fontBiggerSize;
      .tags {
        font-size: $fontNormalSize;
      }
    }
    h1.title {
      margin-bottom: 10px;
      color: $fontTitleColor;
      opacity: 1;
    }
    .featured-image {
      width: 100%;
      img {
        width: 100%;
      }
    }
    .date-and-author {
      font-size: $fontNormalSize;
      display: flex;
      flex-direction: row;
      align-items: center;
      .date, .author {
        font-style: italic;
      }
      i {
        font-size: 5px;
        margin: 0 10px;
      }
    }
  }
  &.product {
    font-size: $fontNormalSize;
    .other-details {
      .title {
        font-family: $fontTitle;
        font-weight: 300;
        font-size: $fontBigSize;
      }
      .original-price, .discounted-price {
        font-size: $fontBiggerSize;
        font-weight: 700;
        &.discounted {
          text-decoration: line-through;
        }
      }
      .discounted-price {
        color: $discountedColor;
      }
      .description, .cart-quantity, .buy-and-cart {
        margin-bottom: 30px;
      }
      .buy-and-cart {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .cart-quantity {
          display: flex;
          flex-direction: row;
          align-items: center;
          width: 100%;
          button {
            margin:0 10px;
          }
        }
        >.btn {
          margin: 3px; 
        }
      }
      .store-links {
        display: flex;
        flex-direction: row;
        .link {
          background: transparent;
          border: 1px solid rgba(0, 0, 0, 0.1);
          margin: 0 3px;
          margin-bottom: 3px;
          color: $fontTitleColor;
          box-shadow: none;
        }
      }
    }
  }
}

.cart-products, .page-cart-products {
  font-size: $fontBiggerSize;
  >.title, .total-price, .view-cart {
    padding: 15px 25px;
    background-color: #f6f6f6;
  }
  .cart-product {
    display: flex;
    flex-direction: row;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px;
    img.image {
      height: 100px;
      width: 100px;
      object-fit: contain;
      object-position: top;
    }
    .other-details {
      font-size: $fontSmallerSize;
      display: flex;
      flex: 1;
      flex-direction: column;
      padding: 0 15px;
      .title {
        font-weight: 400;
        font-family: $fontTitle;
        color: $fontTitleColor;
      }
      .price {
        font-weight: 800;
        color: $fontTitleColor;
      }
      .trash {
        cursor: pointer;
        margin-left: auto;
      }
    }
  }
  .total-price {
    display: flex;
    flex-direction: row;
    .price {
      align-self: flex-end;
      margin-left: auto;
    }
  }
  .cart-quantity {
    font-style: italic;
  }
  .view-cart {
    width: 100%;
    color: white;
    font-style: unset;
    text-decoration: unset;
    background: $fontTitleColor;
    border-radius: 0;
  }
}

.page-cart-products {
  display: flex;
  flex-direction: column;
  flex: unset;
  >.title, .total-price, .view-cart {
    background-color: black;
    color: white;
  }
  .cart-product {
    background-color: white;
    img.image {
      width: 200px;
      height: 200px;
    }
    .other-details {
      font-size: $fontNormalSize;
    }
  }
  .view-cart {
    display: none;
  }
}

.buy-button-wrapper{ 
  margin-top: 20px;
  display: flex;
  max-width: 100%;
  .btn {
    width: auto;
    margin-left: auto;
    &.whatsapp {
      background-color: $whatsappColor;
    }
  }
}

.categories-tags-list {
  .category-tag {
    margin: 2px 0;
    &.active {
      a {
        font-weight: 700;
        padding-left: 14px;
        transition: all .3s;
        &:before {
          content: ' ';
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          height: 4px;
          width: 4px;
          border-radius: 8px;
          background: $fontMainColor;
        }
      }
    }
    a {
      text-decoration: none;
      font-style: none;
      text-transform: capitalize;
      color: $fontMainColor;
      position: relative;
      transition: all .3s;
      font-size: $fontSmallerSize;
      font-weight: 400;
      font-family: $fontTitle;
      &:hover {
        font-weight: 700;
        padding-left: 14px;
        transition: all .3s;
        &:before {
          content: ' ';
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          height: 4px;
          width: 4px;
          border-radius: 8px;
          background: $fontMainColor;
        }
      }
    }
  }
}

.custom-pagination {
  .pagination {
    .page-item {
      &.active {
        .page-link {
          border-color: $fontMainColor;
          background: $fontMainColor;
        }
      }
    }
  }
}

#search-icon {
  cursor: pointer;
}

#search {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100vh;
  background: white;
  padding: 150px 500px;
  z-index: 1;
  button {
    position: fixed;
    right: 40px;
    top: 40px;
  }
  input {
    border: 0px;
    border-bottom: 3px solid;
    font-weight: 700;
    border-radius: 0;
    font-size: $fontHugeSize;
    font-family: $fontTitle;
    &:focus {
      box-shadow: none;
    }
  }
  .search-results {
    .search-result {
      display: flex;
      flex-direction: row;
      padding: 10px 0;
      &:hover {
        box-shadow: $boxShadow;
        transform: scale(1.02);
      }
      img {
        height: 140px;
        width: 140px;
        object-fit: cover;
        object-position: top;
      }
      .title-and-price {
        padding: 12px 20px;
        .title, .price {
          text-decoration: none;
          color: $fontTitleColor;
        }
        .price {
          font-family: $fontBody;
          font-weight: 900;
        }
      }
    }
  }
}

@media(max-width: 1400px) {
  #landing-area {
    .content-2 {
      .left-section {
        width: 565px;
      }
    }
  }
  #search {
    padding-left: 20%;
    padding-right: 20%;
  }
}

@media(max-width: 1200px) {
  #landing-area {
    .content-2 {
      flex-direction: column-reverse;
      .left-section, .right-section {
        width: 100%;
        padding-left: 80px;
        padding-right: 80px;
      }
      .right-section {
        width: 70%;
      }
    }
  }
}

@media(max-width: 992px) {
  #landing-area {
    margin-top: 64px;
  }
  
  .dropdown-menu {
    right: unset;
    left: 0;
    width: 380px;
  }
  .navbar {
    padding: 10px 0;
    .container {
      .nav-container-item {
        &:nth-child(1) {
          // logo
          order: 2;
        }
        &:nth-child(2) {
          // cart and search
          order: 1;
          margin-left: 0;
          border-left: 0px solid;
          >div {
            &:first-of-type {
              margin-left: 0;
            }
          }
        }
        &:nth-child(3) {
          // burger button
          order: 3;
        }
        &:nth-child(4) {
          // list menu
          order: 4;
        }
      }
    }
  }
  .single-page {
    &.blogpost {
      h1.title, .content .paragraph, .date-and-author, .content .tags, .disqus-comments, .latest-news, .sub-title {
        padding: 0;
      }
      h1.title {
        text-align: center;
      }
      .sub-title {
        padding: 0 10px;
      }
      .date-and-author {
        font-size: $fontSmallerSize;
        flex-direction: column;
      }
      .fas {
        display: none;
      }
      .content {
        font-size: $fontNormalSize;
      }
      .latest-news {
        .row {
          margin:0;
        }
      }
    }
  }

  .list-page, .single-page {
    padding: 125px 0 70px;
  }

  h1.title {
    margin-bottom: 30px;
  }
  
  .navbar {
    .navbar-collapse {
      margin-top: 20px;
    }
    .navbar-brand {
      width: 40px;
    }
    .navbar-nav {
      .nav-item {
        &.dropdown {
          margin-left: 0;
          margin-top: 10px;
          text-align: center;
        }
      }
    }
    
  }
  .card-wrapper {
    &.product, &.blog {
      width: 50%;
    }
    &.product {
      padding: 0 5px 5px 5px;
      &:nth-of-type(even) {
        padding-left: 2.5px;
      }
      &:nth-of-type(odd) {
        padding-right: 2.5px;
      }
      .card {
        .featured-image {
          width: 60%;
          padding-top:60%;
          text-align: center;
          margin: 0 auto;
        }
      }
    }
  }

  .list-page {
    .categories-tags-list {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-bottom: 25px;
      justify-content: center;
      .category-tag {
        &:first-of-type {
          margin-left: 0;
        }
        &:last-of-type {
          margin-right: 0;
        }
        margin:0 10px;
        &.active {
          a {
            padding-left: 0px;
            &:before {
              display: none;
            }
          }
        }
        a {
          &:hover {
            padding-left: 0px;
            &:before {
              display: none;
            }
          }
        }
      }
    }
  }

  .blogs {
    >.container {
      >.row {
        >.container {
          width: 100%;
        }
      }
    }
  }
  #search {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 100px;
    input {
      font-size: $fontBiggerSize;
    }
  }
}

@media(max-width: 550px) {
  .cart-products, .page-cart-products {
    font-size: $fontSmallerSize;
  }
  .dropdown-menu {
    right: unset;
    left: 0;
    width: 320px;
  }
  section {
    padding: 50px 0;
  }
  .single-page {
    font-size: $fontNormalSize;
  }
  .btn {
    font-size: $fontSmallerSize;
  }
  .list-page, .single-page {
    padding: 90px 0 30px;
  }
  h1.title {
    font-size: $fontBigSize;
  }
  .list-page {
    h1.sub-title, h1.title {
      text-align: center;
    }
    h1.sub-title {
      font-size: $fontNormalSize;
    }
  }
  #landing-area {
    .content-2 {
      flex-direction: column-reverse;
      padding: 40px 0 200px;
      .left-section, .right-section {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
      }
      .left-section {
        padding-top: 20px;
        h1 {
          font-size: $fontBigSize;
        }
      }
      .right-section {
        width: 90%;
      }
    }
  }
  .card-wrapper {
    &.product {
      .card {
        .featured-image {
          width: 100%;
          padding-top: 100%;
        }
        .other-details {
          .price-and-title {
            .prices {
              .original-price, .discounted-price {
                font-size: $fontSmallSize;
              }
            }
          }
        }
      }
    }
    &.blog {
      width: 100%;
    }
    &.testimonial {
      .card {
        .testimony, .name, .fas {
          padding: 0 10px;
        }
      }
    }
  }

  .single-page {
    &.product {
      .other-details {
        .buy-and-cart {
          position: fixed;
          left: 0;
          bottom: 0;
          width: 100%;
          margin: 0;
          .cart-quantity {
            background-color: white;
            border-top: 1px inset rgba(0,0,0,0.15);
            .btn {
              box-shadow: 0 0 0 0;
            }
            .btn:nth-child(1) {
              margin-left: 0;
            }
            .btn:nth-child(3) {
              margin-right: 0;
            }
          }
          .buy-and-cart-item {
            margin: 0;
            border-radius: 0;
            box-shadow: 0 0 0 0;
            justify-content: center;
            &:nth-child(1) {
              width: auto;
            }
            &:nth-child(2) {
              width: 30%;
              flex: 1;
            }
            &:nth-child(3) {
              width: 100%;
              flex: 1;
            }
          }
        }
      }
    }
  }
  
}
