{{ define "main" }}

<div class="product single-page">
  <div class="container">
    <div class="row">
      <div class="col-md-6 product-slideshows">

          <div id="primary-slider" class="splide">
            <div class="splide__track">
              <div class="splide__list">
                  {{ range .Params.productImages }}
                    <div class="splide__slide">
                      <img src="{{ . }}">
                    </div>
                  {{ end }}
              </div>
            </div>
          </div>
          <div id="secondary-slider" class="splide">
            <div class="splide__track">
              <div class="splide__list">
                {{ range .Params.productImages }}
                  <div class="splide__slide">
                    <img src="{{ . }}">
                  </div>
                {{ end }}
              </div>
            </div>
          </div>
        
      </div>
      <div class="col-md-6 other-details">
        <div class="title">
          {{ .Params.title }}
        </div>
        <div class="original-price {{ cond (gt .Params.discountedPrice 0) `discounted` ``  }}">
          Rp. {{ lang.NumFmt 0 .Params.originalPrice "- , ." }}
        </div>
        {{ if gt .Params.discountedPrice 0 }}
          <div class="discounted-price">
            Rp. {{ lang.NumFmt 0 .Params.discountedPrice "- , ." }}
          </div>
        {{ end }}
        <hr>
        <div class="description">
          {{ .Content }}
        </div>
        <div class="buy-and-cart">
          <div class="cart-quantity">
            <button class="btn btn-outline-secondary decrement"><i class="fas fa-minus"></i></button>
            <div class="quantity"></div>
            <button class="btn btn-outline-secondary increment"><i class="fas fa-plus"></i></button>
          </div>
          <button class="add-to-cart btn btn-primary link buy-button with-icon">
            <i class="fas fa-shopping-cart"></i>
            <div class="text">Add to Cart</div>
          </button>
          <a class="whatsapp btn btn-primary link buy-button with-icon">
            <!-- <img src="/images/3rdparty-logos/logoicon-whatsapp.svg" class="logo" alt=""> -->
            <i class="fab fa-whatsapp"></i>
            <div class="text">Buy / ask on WhatsApp</div>
          </a>
        </div>
        <div class="store-links-title">Or shop this product on other stores: </div>
        <div class="store-links">
          {{ if not (eq .Params.tokpedURL "") }}
            <a class="link small-link tokopedia btn btn-primary with-icon" href="{{ .Params.tokpedURL }}">
              <img src="/images/3rdparty-logos/logoicon-tokopedia.png" class="logo" alt="">
              <div class="text">Tokopedia</div>
            </a>
          {{ end }}
          {{ if not (eq .Params.shopeeURL "") }}
            <a class="link small-link shopee btn btn-primary with-icon" href="{{ .Params.shopeeURL }}">
              <img src="/images/3rdparty-logos/logoicon-shopee.png" class="logo" alt="">
              <div class="text">Shopee</div>
            </a>
          {{ end }}
          {{ if not (eq .Params.bukalapakURL "") }}
            <a class="link small-link bukalapak btn btn-primary with-icon" href="{{ .Params.bukalapakURL }}">
              <img src="/images/3rdparty-logos/logoicon-bukalapak.png" class="logo" alt="">
              <div class="text">Bukalapak</div>
            </a>
          {{ end }}
          {{ if not (eq .Params.olxURL "") }}
            <a class="link small-link olx btn btn-primary with-icon" href="{{ .Params.olxURL }}">
              <img src="/images/3rdparty-logos/logoicon-olx.png" class="logo" alt="">
              <div class="text">OLX</div>
            </a>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script>
{{ partial "products/indexjs.html" . | safeHTML }}

{{ end }}