{{ define "main" }}

<div class="page-shopping-cart list-page">
  <div class="container">
    <div class="row">
      <div class="page-cart-products col-md-12">
        <div class="title">Your Bag, 0 Item(s)</div>
        <div class="cart-product">
          <img src="/images/products/product3-1.jpg" alt="" class="image">
          <div class="other-details">
            <div class="title">
              Regular Tee
            </div>
            <div class="price">
              Rp&nbsp;200.000,00
            </div>
            <div class="cart-quantity">
              Qty: 1
            </div>
            <div class="trash">
              <i class="far fa-trash-alt" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <div class="cart-product">
          <img src="/images/products/product3-1.jpg" alt="" class="image">
          <div class="other-details">
            <div class="title">
              Regular Tee
            </div>
            <div class="price">
              Rp&nbsp;200.000,00
            </div>
            <div class="cart-quantity">
              Qty: 1
            </div>
            <div class="trash">
              <i class="far fa-trash-alt" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <div class="total-price">
          <div class="text">Sub-total: </div>
          <div class="price">Rp&nbsp;355.000,00</div>
        </div>
        <div class="buy-button-wrapper">
          <a class="whatsapp btn btn-primary link buy-button">
            <!-- <img src="/images/3rdparty-logos/logoicon-whatsapp.svg" class="logo" alt=""> -->
            <i class="fab fa-whatsapp"></i>
            <div class="text">Buy on WhatsApp</div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

{{ end }}