{{ define "main" }}

<div class="page-shopping-cart single-page">
  <div class="container">
    <div class="row">
      <h1 class="title">Shopping Cart</h1>
      <div class="page-cart-products">
        
      </div>
      <div class="buy-button-wrapper col-md-12">
        <a class="whatsapp btn btn-primary link buy-button with-icon">
          <!-- <img src="/images/3rdparty-logos/logoicon-whatsapp.svg" class="logo" alt=""> -->
          <i class="fab fa-whatsapp"></i>
          <div class="text">Buy on WhatsApp</div>
        </a>
      </div>
    </div>
  </div>
</div>

{{ end }}