<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="nav-container-item navbar-brand" href="/">
      {{ with .GetPage "/settings" }}
        <img src="{{ .Params.logo }}" alt="">
      {{ end }}
    </a>
    <div class="nav-container-item cart-and-search">
      {{ if not (eq .Page.Title "Shopping Cart") }}
        <div class="dropdown cart-menu">
          <div class="dropdown-toggle">
            <i class="fas fa-shopping-cart"></i><span class="cart-badge badge d-none bg-danger"></span>
          </div>
          <div class="dropdown-menu">
            <div class="cart-products">

            </div>
          </div>
        </div>
      {{ end }}
      <div class="search-menu">
        <i class="fas fa-search" id="search-icon"></i>
        <div id="search" class="search-input d-none">
          <button class="btn btn-outline-secondary with-link close-button"><i class="fas fa-times-circle"></i> Close </button>
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" autofocus>
          <div class="search-results"></div>
        </div>
      </div>
    </div>
    <button class="nav-container-item navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <!-- <span class="navbar-toggler-icon"></span> -->
      <i class="fas fa-align-right"></i>
    </button>
    <div class="nav-container-item collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class='nav-item {{ cond (eq .Page.Title "About") "active" " " }}'>
          <a class="nav-link" aria-current="page" href="/about">About</a>
        </li>
        <li class='nav-item {{ cond (eq .Page.Section "blogs") "active" " " }} {{ cond (eq .Page.Section "tags") "active" " " }}'>
          <a class="nav-link" href="/blogs">Articles</a>
        </li>
        <li class='nav-item {{ cond (eq .Page.Section "products") "active" " " }}'>
          <a class="nav-link" href="/products">Store</a>
        </li>
        <li class='nav-item {{ cond (eq .Page.Title "Contact Us") "active" " " }}'>
          <a class="nav-link" href="/contact-us">Contact Us</a>
        </li>
      </ul>
    </div>
    
  </div>
</nav>

<script>

  document.addEventListener( 'DOMContentLoaded', async function () {
    // fetching search stuffs
    const searchEl = document.getElementById('search');
    const searchIconEl = document.getElementById('search-icon');
    let productsData = await fetch('/search.json');
    productsData = await productsData.json();

    const fuseOptions = {
      includeMatches: true,
      minMatchCharLength: 3,
      threshold: 0.3,
      ignoreLocation: true,
      keys: [
        "title"
      ]
    };

    const fuse = new Fuse(productsData, fuseOptions);

    function searchFuse(term) {
      const searchResults = fuse.search(term);
      return searchResults;
    }

    searchEl.addEventListener('input', function(event) {
      const searchTerm = event.target.value;
      const searchResults = searchFuse(searchTerm);
      const searchResultEl = searchEl.querySelector('.search-results');
      // console.log(searchResults)
      searchResultEl.innerHTML = ' ';
      if(searchResults.length > 0) {
        searchResults.map(searchResult => {
        searchResultEl.innerHTML += `
          <a class="search-result" href\=\"${searchResult.item.uri}">
            <img class="image" src\=\"${searchResult.item.productImage}" />
            <div class="title-and-price">
              <div class="title">${searchResult.item.title}</div>
              <div class="price">${Intl.NumberFormat('id-ID', { style: 'currency', currency: 'IDR', minimumFractionDigits: 0 }).format(searchResult.item.price)}</div>
            </div>
          </a>
          
        `;
        })
      }
    })

    searchEl.addEventListener('click', function(event) {
      if(event.target.classList.contains("close-button")) {
        // console.log(this.parentNode.querySelector('#search').classList)
        this.parentNode.querySelector('#search').classList.add('d-none');
      }
    });

    searchIconEl.addEventListener('click', function(event) {
      this.parentNode.querySelector('#search').classList.remove('d-none');
    });


    // update notification
    function updateNotification(text, successOrError) {
      const notificationEl = document.querySelector('#notification');
      notificationEl.classList.remove('d-none');
      if(successOrError === 'success') {
        notificationEl.classList.add('success');
      } else {
        notificationEl.classList.add('error');
      }
      notificationEl.classList.add('animate__animated');
      notificationEl.classList.add('animate__backInDown');
      notificationEl.querySelector('.text').innerText = text;
      notificationEl.addEventListener('animationend', () => {
        setTimeout(() => {
          notificationEl.classList.remove('animate__animated');
          notificationEl.classList.remove('animate__backInDown');
          notificationEl.classList.add('d-none');
          if(successOrError === 'success') {
            notificationEl.classList.remove('success');
          } else {
            notificationEl.classList.remove('error');
          }
        }, 2000);
        // setTimeout(function() {
        //   notificationEl.classList.remove('animate__backInDown');
        //   notificationEl.classList.add('animate__backOutUp');
          
        //   setTimeout(function() {
        //     notificationEl.classList.remove('animate__backOutUp');
        //     notificationEl.classList.remove('animate__animated');
        //     notificationEl.classList.add('d-none');

        //     if(successOrError === 'success') {
        //       notificationEl.classList.remove('success');
        //     } else {
        //       notificationEl.classList.remove('error');
        //     }
        //   }, 1000)
        // }, 2000);
      });
    }

    {{ if not (eq .Page.Title "Shopping Cart") }}

      // dropdown custom function
      const dropdownEl = document.querySelector('.dropdown-toggle');
      const dropdownMenuEl = document.querySelector('.dropdown-menu');
      
      dropdownEl.addEventListener('click', () => {
        if(dropdownMenuEl.classList.contains('show')) {
          dropdownMenuEl.classList.remove('show')
        } else {
          dropdownMenuEl.classList.add('show')
        }
      })

    {{ end }}
    
    {{ if not (eq .Page.Title "Shopping Cart") }}
      const cartShoppingEl = document.querySelector('.cart-products');
      const cartBadgeEl = document.querySelector('.cart-badge');
    {{ else }}
      const cartShoppingEl = document.querySelector('.page-cart-products');
    {{ end }}
    
    // if localstorage empty, put text, if not list the shopping lists
    if (!localStorage.getItem('cart') || JSON.parse(localStorage.getItem('cart')).products.length == 0) {
      cartShoppingEl.innerHTML = `<div class="empty"> Your cart is empty </div>`;
    } else {
      const cart = JSON.parse(localStorage.getItem('cart'));
      updateShoppingCartHTML(cart);
    }

    // determine shopping cart element
    

    {{ if and (eq .Page.Section "products") (.IsPage) }}
      // reset counter at 1, at page refresh
      let counter = 1;
      const quantityFields = document.querySelectorAll('.quantity');
      quantityFields.forEach((quantityField) => {
        quantityField.innerHTML = counter;
      });

      // separate animate shopping cart update function
      function animateShoppingCart() {
        cartBadgeEl.classList.add('animate__animated');
        cartBadgeEl.classList.add('animate__bounce');
        cartBadgeEl.addEventListener('animationend', () => {
          cartBadgeEl.classList.remove('animate__animated');
          cartBadgeEl.classList.remove('animate__bounce');
        });
      }
      // increment quantity
      const incrementButtons = document.querySelectorAll('.increment');
      incrementButtons.forEach((incrementButton) => {
        incrementButton.addEventListener('click', function () {
          const buttonParent = this.parentNode;
          let quantityChildInt = parseInt(buttonParent.querySelector('.quantity').innerText);
          if(quantityChildInt < 10){
            quantityChildInt ++;
            buttonParent.querySelector( '.quantity' ).innerText = quantityChildInt;
          }
        });
      });
      // decrement quantity
      const decrementButtons = document.querySelectorAll('.decrement');
      decrementButtons.forEach((decrementButton) => {
        decrementButton.addEventListener('click', function () {
          const buttonParent = this.parentNode;
          let quantityChildInt = parseInt(buttonParent.querySelector('.quantity').innerText);
          if(quantityChildInt > 1){
            quantityChildInt --;
            buttonParent.querySelector( '.quantity' ).innerText = quantityChildInt;
          }
        });
      });
      // Storing cart array to local storage
      function addToCart(product) {
        // if local storage exists, push cart, if not, create new cart object. Either will add to local storage
        if (localStorage && localStorage.getItem('cart')) {
          const cart = JSON.parse(localStorage.getItem('cart'));
          let index = -1;

          // check if item exists, if so, update index to the array index value
          cart.products.forEach((cartProduct, i) => {
            if (cartProduct.title == product.title) {
              index = i;
            }
          });

          // if index is not -1, means item exists, do update
          if (index !== -1) {
            cart.products[index].quantity = product.quantity;
          } else {
            cart.products.push(product);
          }
          localStorage.setItem('cart', JSON.stringify(cart));
          return updateShoppingCartHTML(cart);
        } else {
          const cart = {};
          cart.products = [];

          cart.products.push(product);
          localStorage.setItem('cart', JSON.stringify(cart));
          return updateShoppingCartHTML(cart);
        }
      }

      // create new cart object
      const addToCartButtons = document.querySelectorAll('.add-to-cart');
      addToCartButtons.forEach((addToCartButton) => {
        addToCartButton.addEventListener('click', function () {
          // determine quantity
          const li = this.parentNode;
          let quantity = li.querySelector('.quantity').innerText;
          quantity = parseInt(quantity);

          // create product object
          const product = {};
          product.title = {{ .Params.title }};
          product.image = {{ range first 1 .Params.productImages }} {{ . }} {{ end }};
          product.price = {{ cond (gt .Params.discountedPrice 0) .Params.discountedPrice .Params.originalPrice }};
          product.url = {{ .Permalink }}
          if (Number.isInteger(quantity)) {
            product.quantity = quantity;
          } else {
            alert(`Quantity is not an integer`);
            return;
          }
          addToCart(product);
          animateShoppingCart();
          updateNotification('Product added to cart!', 'success');
        });
      });
    {{ end }}

    // shopping cart update inside HTML
    function updateShoppingCartHTML(cart) {
      {{ if not (eq .Page.Title "Shopping Cart") }}
        if(cart.products.length > 0) {
          {{ if not (eq .Page.Title "Shopping Cart") }}
            cartBadgeEl.classList.remove('d-none');
          {{ end }}
          cartBadgeEl.innerHTML = cart.products.length;
        }
      {{ end }}
      cartShoppingEl.innerHTML = `<div class="title">Your Bag, ${cart.products.length} item(s)</div>`;
      let totalPrice = 0;
      cart.products.map((cartProduct) => {
        totalPrice += cartProduct.price;
        cartShoppingEl.innerHTML += `
          <div class="cart-product">
            <img class="image" src=${cartProduct.image}>
            <div class="other-details">
              <a href=\"${cartProduct.url}" class="title">
                ${cartProduct.title}
              </a>
              <div class="price">
                ${Intl.NumberFormat('id-ID', { style: 'currency', currency: 'IDR', minimumFractionDigits: 0 }).format(cartProduct.price)}
              </div>
              <div class="cart-quantity">
                Qty: ${cartProduct.quantity}
              </div>
              <div class="trash">
                <i class="far fa-trash-alt"></i>
              </div>
            </div>
          </div>
        `;
      });
      cartShoppingEl.innerHTML += `
        <div class="total-price">
          <div class="text">Sub-total: </div>
          <div class="price">${Intl.NumberFormat('id-ID', { style: 'currency', currency: 'IDR', minimumFractionDigits: 0 }).format(totalPrice)}</div>
        </div>
        <a href=\"\/cart" class="view-cart btn btn-primary">View Cart</a>
        `
      if(cart.products.length == 0) {
        cartBadgeEl.classList.add('d-none');
        cartShoppingEl.innerHTML = `<div class="empty"> Your cart is empty </div>`;
      }
    }

    // have to wait cart update so the javascript can trace .trash class added
    const cartDeleteEls = document.querySelectorAll('.trash');
    // delete single cart from local storage array
    function deleteSingleCart(product) {
      if(localStorage.getItem('cart')) {
        const productName = product.querySelector('.title').innerText;
        const currentCart = JSON.parse(localStorage.getItem('cart'));
        const filteredCarts = currentCart.products.filter(cartProduct => cartProduct.title !== productName);
        // localStorage.clear();
        const cart = {};
        cart.products = [];
        filteredCarts.map(cartProduct => {
          cart.products.push(cartProduct);
        });
        localStorage.setItem('cart', JSON.stringify(cart));
        // delete filtered cart from HTML
        updateShoppingCartHTML(cart);
        updateNotification('Cart deleted', 'success');
      }
    }

    {{ if not (eq .Page.Title "Shopping Cart") }}
      // onclick delete function - event delegation
      dropdownMenuEl.addEventListener('click', function(e) {
        const target = e.target;
        if(target.classList.value == 'far fa-trash-alt') {
          // console.log(target.parentNode.parentNode.parentNode);
          const cartProductEl = target.parentNode.parentNode.parentNode;
          deleteSingleCart(cartProductEl);
        }
      })
    {{ else }}
      cartShoppingEl.addEventListener('click', function(e) {
        const target = e.target;
        if(target.classList.value == 'far fa-trash-alt') {
          // console.log(target.parentNode.parentNode.parentNode);
          const cartProductEl = target.parentNode.parentNode.parentNode;
          deleteSingleCart(cartProductEl);
        }
      })
    {{ end }}

  });
</script>